# Ignore Jupyter checkpoint folders
.ipynb_checkpoints/
ANN/.ipynb_checkpoints/
ANN/venv/
LangChain/.ipynb_checkpoints/
LangChain/myvenv
NLP Basics/.ipynb_checkpoints/
Python
Streamlit/.ipynb_checkpoints/
venv/